<!DOCTYPE html> 
<html>
	<head> 
	    <title>Dog Lover's App</title> 
	</head>

	<body>
		<h1>Welcome!</h1>
		<p>I love dogs, do you?</p>
		<form action="/answer" method="post"> 
	        <input type="radio" name="answer" value="1" checked>Yes, dogs are the best!</input>
			<input type="radio" name="answer" value="0">No...</input>
	              
	        <button type="submit" name="submit">SUBMIT</button> 
	    </form> 
	    <br>
	    <button onclick="location.href='/pool'">Check answers!</button> 
	    <br>
	    <br>
	  	<img src="/labrador.png"/>
	  	<br> 
	  	<br> 
	  	<form action="/upload" enctype="multipart/form-data" method="POST"> 
	        <span>Upload your dog's picture:</span>   
	        <input type="file" name="pic" required/> <br> 
	        <input type="submit" value="UPLOAD">  
	    </form>
	</body>
</html> 