<!DOCTYPE html> 
<html>
	<head> 
	    <title>Dog Lover's App</title>
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script>
		$(document).ready(function(){
		  	$("#infoButton").on("click", function() {
			    $.getJSON( "ajax/dogs.json", function( data ) {
				  var items = [];
				  $.each( data, function( key, val ) {
				    items.push( "- " + "<strong>" + val + "</strong><br>");
				  });
				 
				  $("#info").html(items.join(""));
				});
			});
		});
		</script> 
	</head>

	<body>
		<h1>Welcome!</h1>
		<p>I love dogs, do you?</p>
		<form action="/answer" method="get"> 
	        <input type="radio" name="answer" value="1" checked>Yes, dogs are the best!</input>
			<input type="radio" name="answer" value="0">No...</input>
	              
	        <button type="submit" name="submit">SUBMIT</button> 
	    </form> 
	    <br>
	    <button onclick="location.href='/pool'">Check answers!</button> 
	    <br>
	    <br>
	  	<img src="/labrador.png"/>
	  	<br> 
	  	<br> 
	  	<form action="/upload" enctype="multipart/form-data" method="POST"> 
	        <span>Upload your dog's picture:</span>   
	        <input type="file" name="pic" required/> <br> 
	        <input type="submit" value="UPLOAD">  
	    </form>
	    <br>
	    <button type="button" id="infoButton">Show small dog breeds</button>
	    <br> 
	    <p id="info">The small dog breeds will be shown here</p>
	</body>
</html> 